/* font
   ========================================================================== */
$font-family: Open Sans, SF Pro Text, Helvetica Neue, Helvetica, Arial, sans-serif;

/* size
   ========================================================================== */
$size-base: 16px;

/* color
   ========================================================================== */
$color-theme: #4683d7;
$color-base: #bed3f1;
$color-base-light: #5c6d95;

$color-white: #fff;
$color-red: #f2452d;
$color-green: #00b26c;

$color-hover: #0080df;
$color-hover-highlight: #2266c5;
$color-error: $color-red;
$color-orange: #ff8801;
$color-switch: #d4e6ff;
$color-switch-shadow: #165bbb;

$color-loading-block: #313846;
$color-mask: rgba(0, 0, 0, 0.5);
